# MONOREPO ROOT
node_modules/
.pnpm-store/
pnpm-lock.yaml
TODO.txt

# OS FILES
.DS_Store
Thumbs.db
*.zip
*.log

# IDES
.idea/
.vscode/
.nova/
.zed/
*.sw?

# ENVIRONMENT
.env
.env.*
!.env.example

# APPS
/apps/backend/vendor/
/apps/backend/public/build/
/apps/backend/public/hot/
/apps/backend/public/storage
/apps/backend/storage/*.key
/apps/backend/storage/pail/
/apps/backend/.phpunit.result.cache

/apps/web/.next/
/apps/web/out/
/apps/web/build/
/apps/web/*.tsbuildinfo

/apps/dashboard/dist/
/apps/dashboard/build/

# PACKAGES
/packages/*/node_modules/
/packages/*/dist/
